
/* Mobile first - default styles */

body {
	margin: 0px;
	background: #BECBDC;
	overflow-x: hidden;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#topNav ul li {
	display: inline;
  list-style-type: none;
    padding: 0px 16px;
  margin: 0px 0px;
  line-height: 2;
  /*background-color: inherit;*/
  transition: background-color 2s ease, padding 2s ease; 

}

#topNav ul li:hover {
	background-color: #BECBDC;
	padding: 8px 20px;
	/*border-radius: 4% 50%;*/
}

a {
	color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
	color: red;
}

img {
	  height: 500px;
}

img.logo {
   position: fixed;
  bottom: 264px;
  right: 11px;
  height: 65px;
  	transition: height 0.5s ease;
  /*border-radius: 50%;*/
  border-radius: 50% 15%;
   z-index: 9;


}

img.logo:hover {
	height: 110px;
	transition
}

img.feature {
	width: 101%;
	min-width: 650px;
	height: auto;

	margin: -3px;
	padding: 0px;
}

div#carousel {
	position: fixed;
  top: 17px;
  left: -100px;
  z-index: -10;
}

div#main {
	z-index: 10;
	  margin: 480px 0px 0px 0px;
  /*background-color: #eeeee0;*/
}

div#cards {
	/*background-color: #ffffff;*/
}

h1, div#content{
	position: absolute;
  top: 59%;
  font-size: 30px;
  left: 3%;
  z-index: -1;

}



h2#subtitle, div#content {
	display: none;
}

div#topNav {
	position: absolute;
  top: 0px;
 /* height:;*/
 /* background-color: #DAD4D6;*/
  width: 100%;
}

ul#insert {
	/*width: 50px;
	transition: width 0.5s ease;*/
  /*background-color: #ffffff;*/
  margin: 0px;
    padding: 5px 0px 14px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  overflow: hidden;
  height: 12px;
}

#cards article h3 {
	  text-align: left;
  margin: 15px 0px 0px 0px;
	color:#BECBDC;
	transition: color 2s ease;
	  /*position: relative;
	  top: 10px;
	  left: -50px;*/
	  font-size: 20px;
}

#cards article.active h3 {
	color: #000000;
}

#cards article p {
	font-size: 12px;
  font-weight: lighter;
  transition: color 2s ease;
  margin: 8px 0px 0px;
}

#cards article.active p {
	color: #9ECBD0;
}

 #cards article {
	  background-color: #000000;
	  transition: background-color 2s ease, width 2s ease,  min-width 2s ease;
  padding: 30px 50px 10px;
  margin: 50px;
  width: 54%;
  min-width: 200px;
  min-height: 200px;
  float: left;
  z-index: 12;
}

#cards article.active {

	background-color: #eeeeee;
	width: 56%;
  	min-width: 215px;
	/*width: 50%;*/

}

/*article:hover {

	background-color: #eeeeee;
	width: 215px;

}*/

#cards article img {
	width: 100%;
  height: auto;
  opacity: 0.5;
  transition: opacity 2s ease;
}

#cards article.active img{
	opacity: 1;
}

#meet {
	clear: both;
  background-color: #ffffff;

}

article.content {
	   padding: 30px;
 /* height: 0px;*/
/*  background-color: #ffffff;*/
}

#meet h2 {
	font-size: 20px;
}

#meet p {
	font-size: 15px;
  color:#BECBDC;
}

#meet img.feature {
	/*position: relative;
  top: -781px;*/
	/*z-index: 0;*/

}

div#photos {
	clear: both;
	background-image: url(../assets/Kristen-0068.jpg); 
}

img.threes {
  padding: 6%;
  width: 85%;
  height: auto;
  z-index: 5;
}

/*div.content h2 {
	  position: relative;
  top: 100px;

}*/

#footer {
	background-color: #000000;
	width: 100%;
	z-index: 20;
	position: relative;
	clear: both;
	margin: -3px;

}

#footer ul {
	color: #ffffff;
	margin: 0px;
	padding: 10px;
	list-style-type: none;
	  /*display: inline;*/
	  width: 95%;
	  text-align: left;
}

#footer li {
	display: inline;
  padding: 0px 42px 0px 10px;
  font-size: 15px;
    line-height: 2;
}

#footer li a {

}
/*ul#insert:hover {
	width: 356px;
}*/
/*
@media (max-width: 768px; orientation: landscape;) {

	ul#insert {
		font-size: 14px;
	}

	#topNav ul li {
  		padding: 0px 45px;
  	}

}*/

/*Small devices (tablets, 768px and up)*/
/*@media (min-width: 768px) {
}*/
	
/*Medium devices (desktops, 992px and up)*/
@media (min-width: 992px) {	

	ul#insert {
	  font-size: 18px;
	  text-align: right;
	}

	img.logo {
		  bottom: 120px;
		  right: 25px;
		  height: 100px;
	}

	div#carousel {
		  top: 5px;
		  left: auto;
	}

	h1 {
		 /* position: ;*/
		  top: auto;
	  bottom: 120px;
	  font-size: 35px;
	}

	div#main {
	  margin: 675px 0px 0px 0px;
	}

	#cards article {
		width: 15%;
		padding: 40px 40px 0px;
	}

	#cards article.active {
		width: 18%;

	}

	img.threes {
	  padding: 3%;
	  width: 25%;
	}

}
	
/*Large devices (large desktops, 1200px and up)*/ 
/*@media (min-width: 1200px) {
}*/
